{% extends 'base/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex">

                <div class="d-inline p-2 w-50">
                    {% if profile.picture %}
                        <img src="{{ profile.picture.url }}"
                             class="w-50 rounded mx-auto d-block" alt="description">
                    {% else %}
                        <img src="{% static 'images/blank-profile-picture-g3e45463a7_640.png' %}"
                             class="w-50 rounded mx-auto d-block" alt="description">
                    {% endif %}
                    <div>
                        <a href="{% url 'dashboard' %}" class="btn btn-success btn-lg">Go Back</a>
                    </div>

                </div>

                <div class="d-inline p-2 w-50">
                    <div class="d-flex flex-column">
                        <h4><b>Име:</b></h4>
                        <h5 style="font-family: 'Helvetica Neue'">{{ profile.first_name }} {{ profile.last_name }}</h5>
                        <h4><b>Email:</b></h4>
                        <h5 style="font-family: 'Helvetica Neue'">{{ user.email }}</h5>
                        <h4><b>Възраст:</b></h4>
                        <h5 style="font-family: 'Helvetica Neue'">{{ profile.age }}</h5>
                        <h4><b>Тип на кожата:</b></h4>
                        <h5 style="font-family: 'Helvetica Neue'">{{ profile.skin_type }}</h5>
                    </div>

                    <a href="{% url 'profile edit' user.profile.pk %}" class="btn btn-primary btn-lg">Edit</a>

                    <a href="{% url 'change password' %}" class="btn btn-danger btn-lg">Change Password</a>


                </div>
            </div>
        </div>
    </div>





{% endblock %}